.footer {
    background-color: rgb(255, 128, 0);
    color: #fff;
  .footer-brand {
    font-family: "Fredoka";
    font-size: 5vh;
    span {
      font-size: 6vh;
    }
  }
  img{
    border-radius: 12px !important;
  }
}
